<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel</title>
    <link rel="stylesheet" href="../css/estilo_carrusel.css">
    <script src="../js/carrusel.js" defer></script>
</head>

<body>

    <div class="carrusel">
        <div class="item">
            <img src="../img/carrusel1_p.png" alt="Imagen1" class="img">
            <img src="../img/carrusel2_p.png" alt="Imagen2" class="img">
            <img src="../img/carrusel3_p.png" alt="Imagen3" class="img">
            <img src="../img/carrusel3_p.png" alt="Imagen4" class="img">
        </div>
        <ul class="puntos">
            <li class="punto"></li>
            <li class="punto"></li>
            <li class="punto"></li>
            <li class="punto"></li>
        </ul>

    </div>


</body>

</html>