<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer Tesla Vision</title>
  <link rel="stylesheet" href="../css/estilo_footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
  <main class="contenido">
    <!-- Simulación de contenido -->
    <div style="min-height: 70vh;"></div>
  </main>

  <footer>
    <div class="footer-col">
      <div>
        <h4>Productos</h4>
        <a href="#">Nuestras Gafas</a>
      </div>
      <div>
        <h4>Ubicaciones</h4>
        <a href="#">Nosotros</a>
      </div>
    </div>

    <div class="footer-col">
      <div>
        <h4>Síguenos</h4>
        <div class="redes">
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <div>
        <h4>Contáctanos</h4>
        <p>+57 320 4066587</p>
      </div>
    </div>
  </footer>
</body>

</html>